.hot{
	padding-top: 0;

	#content-container {
	//margin-top: -15px;
	.degree:first-child{
		margin-top: 40px;
	}

	}

	.degree div.box {
	border-left: 1px solid #d7d7d7;
	margin-bottom: -15px;
	
	&:hover .btn.blacklist{
		position: absolute;
		bottom: 7px;
		right: 5px;
		}
	}

}

#hot-options{
	margin-top: -30px;
}

.degree{
	position: relative;
	padding: 0 0 0 180px;
}

.notches {
position: absolute;
top: 8px;
left: 0;
bottom: 3px;
width: 16px;
background: url(images/bg-temperature.png) 0 100% repeat-y;
}

.notches b {
position: absolute;
top: 6px;
left: 3px;
bottom: -2px;
display: block;
width: 4px;
background-color: #A10;
border: none;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
}

.temperature {
position: absolute;
top: 11px;
left: 25px;
width: 168px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: 300;
font-size: 52px;
line-height: 52px;
}


.source-list{
	margin: 0;
	padding: 10px;
	background: #fafafa;
	border-top: 1px solid #d7d7d7;
	font-size: 0.8em;
	line-height: 1.5em;

	li{
		list-style: none;
		position: relative;
		padding-left: 30px;
		margin-bottom: 0.5em;
	}

	.favicon{
		left: -4px;
	}
}




/* hot options */
#hot-options
{
	display: none;
}

.hot .box-list li:hover #hot-options, .hot .box-list .has-focus #hot-options
{
	display: block;
	position: absolute;
}

.hot .box-list .has-focus #hot-options .btn{
display: inline-block;
}

.box-list li #hot-options
{
	font-size: 13px;
	text-transform: lowercase;
	right: 10px;
}

.box-list li.has-focus #hot-options
{
	color: #EEE;
}

.has-focus .box-list li.has-focus #hot-options
{
	color: #BBB;
}

.box-list #hot-options .btn.menu
{
	position: relative;
	top: auto;
	right: auto;
}